* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(#7474BF, #348AC7);
    height: 100%;
}
:root {
    font-family: 'Major Mono Display', monospace;
}

body {
}

#timer {
    padding: 9rem;
    align-items: stretch;
}

.oclock {
    display: flex;
    padding: 4.25rem;
    width: max-content;
    border: 0.4rem solid;
    font-weight: 800;
    color: aliceblue;
    
}

.flex-container {
    display: flex;
    justify-content: center;
    margin: auto;
}


.display {
    font-size: 5rem;
}

.fa-regular {

    animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.btns {
    font-size: 2rem;
    padding: 1rem;
}

.btns i {
    margin: 1rem;
    color: aliceblue;
}

.btns i:hover {
    cursor: pointer;
    color: black;
}
