* {
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(35deg, #7474BF, #348AC7);
    height: 100%;
}

:root {
    --font-timer: 'Major Mono Display', monospace;
    --font-text: 'Montserrat', sans-serif;
}
.nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-family: var(--font-text);
}

li {
    margin: 1.2rem;
}

h1 {
    text-align: center;
    margin: 1rem auto 5rem auto;
    color: aliceblue;
    font-size: 3rem;
    font-family: var(--font-text);
    text-shadow: 2px 2px 4px black;
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-timer);
    
    
}

.oclock {
    display: flex;
    padding: 8.25rem;
    width: max-content;
    font-weight: 1000;
    color: aliceblue;
    background: url("/bg.png") center no-repeat;
    background-size: cover;
}


.display {
    font-size: 5rem;

    text-shadow: 1px 5px 2px black;

}

.fa-regular {

    animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.btns {
    font-size: 2rem;
    padding: 1rem;
    margin: 2.2rem;
}

.btns i {
    margin: 1rem;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    transition: 300ms;
}

.btns i:hover {
    cursor: pointer;
    color: black;
}

#pause {
    display: none;
}