* {
    margin: 0;
    padding: 0;
}

:root {
    --font-timer: "Major Mono Display", monospace;
    --font-text: "Montserrat", sans-serif;
    --background-color: #f4a261;
    --background-color-break: #57949c;
}

body {
    background-color: var(--background-color);
    transition: 700ms;
}

.break {
    background-color: var(--background-color-break);
}

.nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: #e76f51;
    font-family: var(--font-text);
    transition: 700ms;
}

.nav-break {
    background-color: #1e5b63;
}

li {
    margin: 1.2rem;
}

h1 {
    margin-top: 1.2rem;
    text-align: center;
    color: aliceblue;
    font-size: 3rem;
    font-family: var(--font-text);
    text-shadow: 2px 2px 4px black;
}

.config {
    width: 25%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    font-family: var(--font-timer);
}

#time-section {
    display: none;
    background-color: #e76f51;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

#timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-timer);
}

.oclock {
    display: flex;
    justify-content: center;
    width: 60%;
    font-weight: 1000;
    color: aliceblue;
    padding: 1rem;
    margin-bottom: 4.2rem;
}

.display {
    font-size: 5rem;
    text-shadow: 1px 5px 2px black;
}

.fa-regular {
    animation: blink 1s steps(4, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.btns {
    font-size: 2rem;
    padding: 1rem;
}

.btns i {
    margin: 1rem;
    color: #264653;
    text-shadow: 1px 1px 2px black;
    transition: 300ms;
}

.btns i:hover {
    cursor: pointer;
    color: aliceblue;
}

#pause,
#work {
    display: none;
}
